/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding: 10px;  Location of the box */
    left: 0;
    top: 0;
    margin-left:33%;
    margin-top:5%;
    width: 23%; /* Full width */
    height: 42%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*    background-color: rgb(0,0,0);  Fallback color 
        background-color: rgba(0,0,0,0.4);  Black w/ opacity */
    border-radius:10px;
    border:none;
    background-color: white;
    box-shadow: 2px 2px 2px 2px lightskyblue;
}

/* Modal Content */
.modal-content {
    position: relative;

    /*margin: auto;*/
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid #888;
    width: 96%;
    height: 100%;
    background-color: white;

    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius:10px;
    border:none;

}

#noteTitle {
    margin-top: 2%;
    font-size: 100%;
    font-weight: bold;
    height: 20px;
    width: 70%;
    resize: none;
    border: 0px;
    font-family: 'Chewy', arial, sans-serif;
    background: white; 
    border-style: none;  
}
::placeholder {
    color: lightskyblue;

}

#noteText {
    margin-top: 1%;
    /*	font-size: 100%;
            font-weight: bold;*/
    height: 90%;
    width: 96%;
    resize: none;
    /*border: 0px;*/
    font-family: 'Chewy', arial, sans-serif;
    background: rgba(0, 0, 0, 0); 
    border-radius:10px;
    padding : 1% 1% 1% 1%;

    border-radius:10px;
    /*border-style: none;*/
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: lightskyblue;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
#buttonSave {
    font-weight: bold;
    width: 20% ;
    margin-left: 40%;margin-left: 40%;margin-bottom: 1%;
    background-color: white;
    border-style: none;
    color: lightskyblue;
}

#buttonSave:hover,#buttonSave:focus {
    color: skyblue;
    text-decoration: none;
    text-shadow: 2px 2px 4px blue;
}

.modal-header {
    padding-left: 2%;
    padding-right:2%;
    padding-top: 2%;
    background-color: white;
    color: white;   
}

.modal-body {
    padding-left: 2%;
    padding-right:2%;
    padding-top: 2%;
    height: 72%;
    width: 96% ;
    background-color: white;
    border-radius:10px;

}


.modal-footer {
    float: bottom;

    padding-left: 2%;
    padding-right:2%;
    padding-top: 2%;
    background-color: white;
    color: white;
}

/*#noteModal {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    background: #f1f1f1;
    font-family:helvetica neue, helvetica, arial, sans-serif;
    font-weight:200;
}*/

/*            body {
                background: #f1f1f1;
                font-family:helvetica neue, helvetica, arial, sans-serif;
                font-weight:200;
            }*/

/*            #notContent {
               
                
                background-size: 100% 30px;
                position:relative;
                padding-top:150px;
                padding-left:160px;
                padding-right:20px;
                overflow:hidden;
                border-radius:5px;
                -webkit-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
                -moz-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
                -ms-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
                -o-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
                box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
                &:before {
                    content:'';
                    display:block;
                    position:absolute;
                    z-index:1;
                    top:0;
                    left:140px;
                    height:100%;
                    width:1px;
                    background:#db4034;
                }
                header {
                    height:150px;
                    width:100%;
                    background:white;
                    position:absolute;
                    top:0;
                    left:0;
                    h1 {
                        font-size:60px;
                        line-height:60px;
                        padding:127px 20px 0 160px;
                    }
                }
                #noteText {
                    margin-top:67px;
                    font-size:20px;
                    line-height:30px;
                    p {
                        margin:0 0 30px 0;
                    }
                }
            }*/
