/* added shelf style for testing */
.shelfStyle{
      height: 300px;
}
.addShelfReq{
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	width:200px;
	height:100px;
	padding: 10px;
	margin: 16px;
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	-webkit-box-shadow: 5px 5px 7px  rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	-moz-transition: -moz-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
	border-radius:5px;
	border:none;
}


body{
	font-size: 100%;
    margin: 15px;
    background:#889999;
	font-family: verdana, arial, sans-serif;
}


/* New shelf style */


/* FOR the modal native */

.page-wrapper {
  width: 100%;
  position: relative;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

a.btn {
  width: 150px;
  display: block;
  margin: 25px;
  padding: 1em 0;
  position: relative;
  font: 1.125em 'Arial', sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  background: #FFEB34;
}

.new-shelf-button {
  color: #fff;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

a.saveShelf {
  margin: 16px;
  padding: 0.5em;
  font-weight: 200;
  width: 100px;
  background-color: #ad3232;
  float: right;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
  z-index: 70;
}

.modal {
  width: 600px;
  height: 300px;
  display: block;
  margin: 50% 0 0 -300px;
  position: relative;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head {
  width: 90%;
  height: 32px;
  padding: 1.5em 5%;
  overflow: hidden;
  background: #ad3232;
}

.modal-title-text {
  font: 2em 'Arial', sans-serif;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin: 0;
  display: inline-block;
}

#new-shelf-input {
  margin: 0;
  font: 1.3em 'Arial', sans-serif;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 12px;
  color: #888;
  width: 500px;
  height: 40px;
  margin-top: 5px;
}

label[for='new-shelf-input'] {
  color: #9E9E9E;
  font: 1.6em 'Arial', sans-serif;
  /*border-bottom: 2px solid #FFC564;*/
  width: 510px;
  display: block;
}

.btn-close {
  width: 32px;
  height: 32px;
  display: block;
  float: right;
}

.btn-close::before,
.btn-close::after {
  content: '';
  width: 32px;
  height: 6px;
  display: block;
  background: #fff;
}

.btn-close::before {
  margin-top: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-close::after {
  margin-top: -6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.content {
  padding: 5%;
}


/* end here the new shelf style */